XMLDev/XmlJaxb_V1/src/databaseconfig/databaseconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Demo (Demo) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DatabaseConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="database" type="databaseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FieldInfoType">
		<xs:sequence>
			<xs:element ref="FieldName"/>
			<xs:element ref="FieldType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FieldName" type="xs:string"/>
	<xs:element name="FieldType" type="xs:string"/>
	<xs:complexType name="databaseType">
		<xs:sequence>
			<xs:element name="dbUser" type="dbUserType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dbUserType">
		<xs:sequence>
			<xs:element ref="user"/>
			<xs:element ref="password"/>
			<xs:element name="tableInfo" type="tableInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="password" type="xs:string"/>
	<xs:complexType name="tableInfoType">
		<xs:sequence>
			<xs:element ref="tableName"/>
			<xs:element name="FieldInfo" type="FieldInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tableName" type="xs:string"/>
	<xs:element name="user" type="xs:string"/>
</xs:schema>
